* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  height: 100vh;
}

.layout {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 50px 1fr 50px;
  height: 100%;
}

.header-footer-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #673ab7;
  color: #fff;
}

main {
  grid-area: main;
}

.container {
  width: 90%;
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.wrapper .products {
  width: 68%;
}

.wrapper .filter-products {
  width: 30%;
}

.text-center {
  text-align: center;
}

.btn {
  border: 0;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary {
  background-color: #2196f3;
  color: #fff;
}
.btn-danger {
  background-color: rgba(245, 49, 49, 0.84);
  color: #fff;
}
